<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import { Container } from 'sveltestrap';
  import CenterdHeader from '$lib/ui/molecule/header/centerd/CenterdHeader.svelte';
  import ExampleDevider from '$lib/ui/molecule/header/stoty/ExampleDevider.svelte';
  import SimpleHeader from '$lib/ui/molecule/header/simple/SimpleHeader.svelte';
  import CenterdNavHeader from '$lib/ui/molecule/header/centerd-nav/CenterdNavHeader.svelte';
</script>

<Meta
  title="Molecule"
  component={SimpleHeader}
  argTypes={{
    title: { control: 'text' },
  }} />

<Template let:args>
  <Container>
    <SimpleHeader {...args} />
  </Container>

  <ExampleDevider />

  <Container>
    <CenterdHeader />
  </Container>

  <ExampleDevider />

  <Container>
    <CenterdNavHeader />
  </Container>

  <ExampleDevider />
</Template>

<Story
  name="Header"
  args={{
    title: 'Bootstrap sample',
  }} />
