<script>
  import { getContext, createEventDispatcher } from 'svelte';
  import ImagePicker from './image/ImagePicker.svelte';

  export let eyeCatch;
  const { open, close } = getContext('simple-modal');
  const dispatch = createEventDispatcher();

  function selectNewImages(newImages) {
    dispatch('update-eyecatch', newImages[0]);
    close();
  }
  function cancelSelection() {
    close();
  }

  function openImagePicker() {
    const currentGallery = eyeCatch ? [eyeCatch] : [];
    open(ImagePicker, {
      currentGallery,
      selectNewImages,
      cancelSelection,
      single: true,
    });
  }
</script>

<!-- HTML -->
<div class="columns">
  <div class="column">
    <button on:click={openImagePicker}>selecionar</button>
  </div>
</div>

{#if eyeCatch}
  <div class="columns">
    <div class="column is-3">
      <img src={eyeCatch.url} alt={eyeCatch.name} title={eyeCatch.name} />
    </div>
  </div>
{/if}
