<script>
  import { getContext, createEventDispatcher } from 'svelte';
  import ImagePicker from './image/ImagePicker.svelte';

  export let gallery = [];
  const { open, close } = getContext('simple-modal');
  const dispatch = createEventDispatcher();

  function selectNewImages(newImages) {
    dispatch('update-gallery', newImages);
    close();
  }
  function cancelSelection() {
    close();
  }

  function openImagePicker() {
    open(ImagePicker, {
      currentGallery: gallery,
      selectNewImages,
      cancelSelection,
    });
  }
</script>

<!-- HTML -->
<div class="columns">
  <div class="column">
    <button on:click={openImagePicker}>selecionar</button>
  </div>
</div>

<div class="columns">
  {#each gallery as image}
    <div class="column is-3">
      <img src={image.url} alt={image.name} title={image.name} />
    </div>
  {/each}
</div>
