<script lang="ts">
  import SimpleHeader from '$lib/ui/molecule/header/simple/SimpleHeader.svelte';
  import CustomThemeHero from '$lib/ui/molecule/hero/custom-theme/CustomThemeHero.svelte';
  import IconListItem from '$lib/ui/molecule/list-item/icon/IconListItem.svelte';
  import ProductLandingTemplate from '$lib/ui/template/product/ProductLandingTemplate.svelte';
</script>

<ProductLandingTemplate>
  <svelte:fragment slot="header">
    <SimpleHeader />
  </svelte:fragment>

  <CustomThemeHero>
    <h1 class="display-5 fw-bold lh-1 mb-3">
      Coleções de dados abertos do Brasil
    </h1>
    <p class="col-lg-10 fs-5 lh-3">
      <a href="/collection/dados-gov" class="btn btn-primary">
        Navegar a coleção
      </a>
    </p>

    <svelte:fragment slot="form">
      <IconListItem title="Cosulta rápida">
        Below is an example form built entirely with Bootstrap’s form controls.
      </IconListItem>

      <IconListItem title="Feito pra mobile">
        Below is an example form built entirely with Bootstrap’s form controls.
      </IconListItem>

      <IconListItem title="Notificações e APIs">Utilize os</IconListItem>
    </svelte:fragment>
  </CustomThemeHero>

  <!-- <Collection /> -->
</ProductLandingTemplate>
