<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import CustomHero from './CustomHero.svelte';
</script>

<Meta
  title="Molecule/Hero"
  component={CustomHero}
  argTypes={{
    title: { control: 'text' },
  }} />

<Template let:args>
  <CustomHero {...args}>
    This is a wider card with supporting text below as a natural lead-in to
    additional content.
  </CustomHero>
</Template>

<Story
  name="Custom"
  args={{
    title: 'Bootstrap sample',
  }} />
