<script lang="ts">
  import { Accordion } from 'renderless-svelte';
  import { slide } from 'svelte/transition';
  export let header;
</script>

<div class="accordion-item">
  <Accordion>
    <div slot="header" let:toggle let:isOpen class="accordion-header">
      <button
        on:click={toggle}
        class="accordion-button"
        class:collapsed={!isOpen}>
        <slot name="header">{header}</slot>
      </button>
    </div>
    <div class="accordion-collapse collapse show" transition:slide>
      <div class="accordion-body">
        <slot />
      </div>
    </div>
  </Accordion>
</div>
