<script lang="ts">
  import AccordionGroup from './AccordionGroup.svelte';
  import AccordionItem from './AccordionItem.svelte';
</script>

<AccordionGroup>
  <AccordionItem header="Accordion Item #1">
    <strong>This is the first item's accordion body.</strong> It is shown by
    default, until the collapse plugin adds the appropriate classes that we use
    to style each element. These classes control the overall appearance, as well
    as the showing and hiding via CSS transitions. You can modify any of this
    with custom CSS or overriding our default variables. It's also worth noting
    that just about any HTML can go within the
    <code>.accordion-body</code>, though the transition does limit overflow.
  </AccordionItem>

  <AccordionItem>
    <div slot="header">
      <b>Div</b> Custom header
    </div>

    <strong>This is the second item's accordion body.</strong> It is hidden by
    default, until the collapse plugin adds the appropriate classes that we use
    to style each element. These classes control the overall appearance, as well
    as the showing and hiding via CSS transitions. You can modify any of this
    with custom CSS or overriding our default variables. It's also worth noting
    that just about any HTML can go within the
    <code>.accordion-body</code>, though the transition does limit overflow.
  </AccordionItem>

  <AccordionItem header="Accordion Item #3">
    <strong>This is the third item's accordion body.</strong> It is hidden by
    default, until the collapse plugin adds the appropriate classes that we use
    to style each element. These classes control the overall appearance, as well
    as the showing and hiding via CSS transitions. You can modify any of this
    with custom CSS or overriding our default variables. It's also worth noting
    that just about any HTML can go within the
    <code>.accordion-body</code>, though the transition does limit overflow.
  </AccordionItem>
</AccordionGroup>
