<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import AccordionGroup from './AccordionDemo.svelte';
</script>

<Meta
  title="Organism/AccordionGroup"
  component={AccordionGroup}
  argTypes={{
    title: { control: 'text' },
  }} />

<Template let:args>
  <AccordionGroup {...args} />
</Template>

<Story
  name="Simple Mock"
  args={{
    primary: true,
    title: 'Bootstrap sample',
  }} />
