<script lang="ts">
  export let title = 'title here';
</script>

<div class="col d-flex align-items-start">
  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"
    ><use xlink:href="#bootstrap" /></svg>
  <div>
    <h4 class="fw-bold mb-0 fs-5">{title}</h4>
    <p class="fs-7">
      <slot>description here</slot>
    </p>
  </div>
</div>
