<script lang="ts">
  import { onMount, getContext } from 'svelte';
  import Dropzone from '$lib/ui/atom/input/dropzone/DropZone.svelte';
  import ImagePicker from '../ImagePicker.svelte';

  const { open, close } = getContext('simple-modal');

  export let eyeCatch;

  let isLoading;

  onMount(async () => {});

  function addImage({ detail }) {
    close(); // TODO: fix
    eyeCatch = detail;
  }
  const selectNewImages = (newImages) => {
    eyeCatch = newImages[0];
    close(); // TODO: fix
  };
  function openImagePicker() {
    const currentGallery = eyeCatch ? [eyeCatch] : [];
    open(ImagePicker, {
      currentGallery,
      selectNewImages,
      cancelSelection,
      single: true,
    });
  }
  function cancelSelection() {
    close();
  }
</script>

<div class="cover-img-editor">
  <Dropzone on:add-image={addImage} bind:isLoading>
    <figure class="image is-3by1">
      {#if eyeCatch}
        <img src={eyeCatch.url} alt={eyeCatch.name} title={eyeCatch.name} />
      {:else}
        <img
          src="https://bulma.io/images/placeholders/720x240.png"
          alt="placeholder" />
      {/if}
    </figure>
  </Dropzone>

  <div class="editor-options">
    <button on:click={openImagePicker}> editar </button>
  </div>
</div>

<style>
  .cover-img-editor {
    position: relative;
  }
  .editor-options {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
</style>
