<script lang="ts">
  import { onMount } from 'svelte';
  import axios from 'axios';
  import { PublicHelperApi } from '$lib/conf/helper-service.api';
  import PackageCard from '$lib/components/dados-gov/package/PackageCard.svelte';

  const uri = PublicHelperApi.dadosGov.package;
  let data = [];
  let source;
  let headers;

  onMount(async () => {
    data = await axios.get(uri).then((res) => res.data);
  });

  // onMount(async () => {

  // });
</script>

<div class="row pt-3">
  <div class="col">
    <div class="row">
      {#each data as pkg}
        <div class="col col-xl-6   mb-3">
          <PackageCard {pkg} />
        </div>
      {/each}
    </div>

    <pre>
      { JSON.stringify(data, undefined, 2) }
    </pre>
  </div>
</div>

<style global>
  @import 'https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css';
</style>
