<script lang="ts">
  import { publicRoute } from '$lib/conf/public.route';
  let _class;
  export { _class as class };
</script>

<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom {_class}">
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <svg
      class="bi me-2"
      width="40"
      height="32"
      role="img"
      aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a class="btn btn-outline-primary me-2" href={publicRoute.auth.login}
      >Login</a>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>
