<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import NavBar from './NavBar.svelte';
</script>

<Meta
  title="Organism/NavBar"
  component={NavBar}
  argTypes={{
    title: { control: 'text' },
  }} />

<Template let:args>
  <NavBar {...args} on:click={args.onClick} />
</Template>

<Story
  name="Coplete Mock"
  args={{
    primary: true,
    title: 'Bootstrap sample',
  }} />
