<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import BlogTemplate from './BlogTemplate.svelte';
</script>

<Meta
  title="Template/Blog"
  component={BlogTemplate}
  argTypes={{
    // title: { control: 'text' },
  }} />

<Template let:args>
  <BlogTemplate {...args}>
    This is a wider card with supporting text below as a natural lead-in to
    additional content.
  </BlogTemplate>
</Template>

<Story
  name="Standard"
  args={{
    // title: 'Bootstrap sample',
  }} />
