<script lang="ts">
  import StickyRightMenuLayout from '$lib/ui/layout/right-menu/StickyRightMenuLayout.svelte';
  import SimpleCard from '$lib/ui/molecule/card/simple/SimpleCard.svelte';
  import CustomHero from '$lib/ui/molecule/hero/custom/CustomHero.svelte';
  import TwoStepNavBar from '$lib/ui/organism/two-step/TwoStepNavBar.svelte';
  // import TowStepNavBar from '$lib/ui/organism/two-step-navbar/TowStepNavBar.svelte';
  import HighLightCard from '$lib/ui/molecule/card/high-light/HighLightCard.svelte';
  import SimpleFooter from '$lib/ui/organism/footer/simple/SimpleFooter.svelte';
  import { Col, Row } from 'sveltestrap';
</script>

<div>
  <TwoStepNavBar />

  <main class="container">
    <CustomHero />

    <Row>
      <Col>
        <HighLightCard keyword="World" title="Featured post" date="Nov 12">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </HighLightCard>
      </Col>

      <Col>
        <HighLightCard keyword="Design" title="Post title" date="Nov 11">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </HighLightCard>
      </Col>
    </Row>

    <StickyRightMenuLayout>
      <svelte:fragment slot="menu">
        <SimpleCard />
        <SimpleCard title="About">
          Customize this section to tell your visitors a little bit about your
          publication, writers, content, or something else entirely. Totally up
          to you.
        </SimpleCard>

        <SimpleCard title="Archives">
          <ol class="list-unstyled mb-0">
            <li><a href="/">March 2021</a></li>
            <li><a href="/">February 2021</a></li>
            <li><a href="/">January 2021</a></li>
            <li><a href="/">December 2020</a></li>
            <li><a href="/">November 2020</a></li>
            <li><a href="/">October 2020</a></li>
            <li><a href="/">September 2020</a></li>
            <li><a href="/">August 2020</a></li>
            <li><a href="/">July 2020</a></li>
            <li><a href="/">June 2020</a></li>
            <li><a href="/">May 2020</a></li>
            <li><a href="/">April 2020</a></li>
          </ol>
        </SimpleCard>

        <SimpleCard title="Elsewhere">
          <ol class="list-unstyled">
            <li><a href="/">GitHub</a></li>
            <li><a href="/">Twitter</a></li>
            <li><a href="/">Facebook</a></li>
          </ol>
        </SimpleCard>
      </svelte:fragment>
    </StickyRightMenuLayout>
  </main>

  <SimpleFooter />
</div>
