<script lang="ts">
  export let imageSrc;
  export let imageAlt = '';
  export let header = '';
  export let footer = '';
</script>

<div class="card">
  {#if header || $$slots.header}
    <div class="card-header">
      {header}
      <slot name="header" />
    </div>
  {/if}

  {#if imageSrc}
    <img src={imageSrc} class="card-img-top" alt={imageAlt} />
  {/if}

  <slot />

  {#if footer || $$slots.footer}
    <div class="card-footer">
      {footer}
      <slot name="footer" />
    </div>
  {/if}
</div>
