<script lang="ts">
  export let title = '';
  export let subtitle = '';
  let _class = '';
  export { _class as class };
</script>

<div class="card-body {_class}">
  <h5 class="card-title">
    <slot name="title">{title}</slot>
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">{subtitle}</h6>
  <p class="card-text">
    <slot />
  </p>
  <slot name="link" />
</div>
