<script>
  export let object;
  const keys = Object.keys(object);

  function render(obj) {
    if (typeof obj === 'object') {
      return JSON.stringify(obj);
    }
    return obj;
  }
</script>

<table>
  {#each keys as key}
    <tr>
      <td>{key}</td>
      <td>{render(object[key])}</td>
    </tr>
  {/each}
</table>

<style>
  tr:nth-child(odd) td {
    background-color: #eee;
  }
</style>
