<script>
  import {
    Icon,
    Collapse,
    Navbar,
    NavbarToggler,
    NavbarBrand,
    Nav,
    NavItem,
    NavLink,
    Dropdown,
    DropdownToggle,
    DropdownMenu,
    DropdownItem,
  } from 'sveltestrap/src';
  import { publicRoute } from '$lib/conf/public.route';

  let isOpen = false;

  function handleUpdate(event) {
    isOpen = event.detail.isOpen;
  }
</script>

<Navbar color="light" light expand="md">
  <NavbarBrand href="/"
    ><Icon name="bootstrap-fill" class="logo-icon" />InterfaceBR</NavbarBrand>
  <NavbarToggler on:click={() => (isOpen = !isOpen)} />
  <Collapse {isOpen} navbar expand="md" on:update={handleUpdate}>
    <Nav class="ms-auto" navbar>
      <NavItem>
        <NavLink href="#components/">Coleção</NavLink>
      </NavItem>
      <NavItem>
        <NavLink href="https://github.com/bestguy/sveltestrap"
          >Este site</NavLink>
      </NavItem>
      <!-- <Dropdown nav inNavbar>
        <DropdownToggle nav caret>Options</DropdownToggle>
        <DropdownMenu end>
          <DropdownItem>Option 1</DropdownItem>
          <DropdownItem>Option 2</DropdownItem>
          <DropdownItem divider />
          <DropdownItem>Reset</DropdownItem>
        </DropdownMenu>
      </Dropdown>
      <NavItem>
        <a
          class="btn btn-outline-success my-2 my-sm-0"
          href={publicRoute.auth.login}>Login</a>
      </NavItem> -->
    </Nav>
  </Collapse>
</Navbar>

<style>
  :global(.logo-icon) {
    font-size: 1.8rem;
    padding-bottom: 0.2rem;
    padding-right: 0.3rem;
  }
</style>
