<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import SimpleCard from './SimpleCard.svelte';
</script>

<Meta
  title="Molecule/Card"
  component={SimpleCard}
  argTypes={{
    title: { control: 'text' },
  }} />

<Template let:args>
  <SimpleCard {...args}>
    This is a wider card with supporting text below as a natural lead-in to
    additional content.
  </SimpleCard>
</Template>

<Story
  name="Simple"
  args={{
    title: 'Bootstrap sample',
  }} />
