<script lang="ts">
  import { Figure, Icon, Image, Progress, Button } from 'sveltestrap/src';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  export let imageSrc = '';
  let _class = '';
  export { _class as class };

  let _caption = '';
  export { _caption as caption };

  let currentProgress = 0;
  export { currentProgress as progress };

  export let inProgress = false;
  $: caption = inProgress ? '' : _caption;
</script>

<div class="gallery-thumbnail {_class}" class:in-progress={inProgress}>
  <Figure {caption}>
    <Image thumbnail alt="Landscape" src={imageSrc} />
    {#if inProgress}
      <Progress value={currentProgress} color="success" />
    {/if}
  </Figure>
  <Button size="sm" class="delete-button" on:click={() => dispatch('delete')}>
    <Icon name="trash" />
  </Button>
</div>

<style lang="scss">
  .gallery-thumbnail {
    transition: 0.3s;
  }
  .in-progress {
    opacity: 0.6;
  }
  :global(.gallery-thumbnail) {
    position: relative;
  }
  :global(.gallery-thumbnail .delete-button) {
    position: absolute;
    // background-color: $white;
    color: red;
    right: 1.4rem;
    top: 2.05rem;
    background-color: rgba(255, 255, 255, 0.85);
  }
  :global(.gallery-thumbnail .figure) {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 99%;
    line-height: 1rem;
    white-space: nowrap;
  }
</style>
