<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import GalleryThumbnail from './GalleryThumbnail.svelte';
</script>

<Meta
  title="Molecule/Input"
  component={GalleryThumbnail}
  argTypes={{
    inProgress: { control: 'boolean', default: false },
    caption: { control: 'text' },
    progress: { control: 'range' },
  }} />

<Template let:args>
  <div class="col-6 col-lg-2 col-md-3 col-sm-4">
    <GalleryThumbnail {...args} on:click={args.onClick} />
  </div>
</Template>

<Story
  name="image thumbnail with status"
  args={{
    inProgress: false,
    imageSrc: 'https://via.placeholder.com/800x600?text=Place+Holder',
    caption: 'I believe this is a cow needing a haircut',
    progress: 30,
  }} />
