<script lang="ts">
  import CenterdNavHeader from '$lib/ui/molecule/header/centerd-nav/CenterdNavHeader.svelte';
  import SideNavi from '$lib/ui/organism/sidebars/navi/SideNavi.svelte';

  import OverViewTemplate from '$lib/ui/template/overview/OverViewTemplate.svelte';
</script>

<OverViewTemplate>
  <svelte:fragment slot="header">
    <CenterdNavHeader class="sticky-top bg-white" />
  </svelte:fragment>

  <svelte:fragment slot="menu">
    <SideNavi />
  </svelte:fragment>

  <slot />
</OverViewTemplate>
