<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import DropZone from './DropZone.svelte';
  import GalleryThumbnail from '$lib/ui/molecule/input/image/thumbnail/GalleryThumbnail.svelte';
  // Mocking axios call

  const imageURI = 'https://picsum.photos/800/600?random=';
  let filesEmpty;
  let filesFilled = {
    imageSrc: `${imageURI}1`,
  };
  let progress = 0;
  let imageSrc;
  let inProgress = false;
  let caption = '';

  async function upload(e) {
    inProgress = true;
    filesEmpty = e.detail.acceptedFiles;
    setThubmnail(filesEmpty[0]);

    progress = 0;
    const timer = setInterval(() => {
      progress += 1;
      if (progress >= 100) {
        clearInterval(timer);
        inProgress = false;
      }
    }, 25);
  }

  function setThubmnail(file) {
    const reader = new FileReader();
    reader.onloadend = () => (imageSrc = reader.result);
    reader.readAsDataURL(file);
    caption = file.name;
  }

  function deleteImage() {
    imageSrc = '';
    filesEmpty = undefined;
  }
</script>

<Meta
  title="Molecule/Input"
  component={DropZone}
  argTypes={{
    label: { control: 'text' },
    primary: { control: 'boolean' },
    backgroundColor: { control: 'color' },
    size: {
      control: { type: 'select', options: ['small', 'medium', 'large'] },
    },
  }} />

<Template let:args>
  <h3>Empty - drop file and test!</h3>

  {#if filesEmpty}
    <GalleryThumbnail
      {progress}
      {imageSrc}
      {inProgress}
      {caption}
      on:delete={deleteImage} />
  {:else}
    <DropZone {...args} on:drop={upload} accept="image/*" multiple={false} />
  {/if}

  <hr />

  <h3>Filled</h3>

  <GalleryThumbnail {...filesFilled} caption="demo image" />
</Template>

<Story
  name="Plane DropZone"
  args={{
    label: 'DropZone',
  }} />
