<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import BasicCard from '../BasicCard.svelte';
  import CardBody from '../CardBody.svelte';

  let repeatTimes = 3;
  let colSize = 4;
</script>

<Meta
  title="Molecule/Card"
  component={BasicCard}
  argTypes={{
    title: { control: 'text' },
    footer: { control: 'text' },
  }} />

<Template let:args>
  repeat: <input type="number" bind:value={repeatTimes} />
  col size: <input type="number" bind:value={colSize} />
  <hr />
  <div class="row">
    {#each new Array(+repeatTimes) as _, i}
      <div class="col-md-{colSize}">
        <BasicCard {...args}>
          <CardBody title="Card title">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </CardBody>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <CardBody>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </CardBody>
        </BasicCard>
      </div>
    {/each}
  </div>
</Template>

<Story
  name="Complex"
  args={{
    imageSrc: 'https://via.placeholder.com/200x220',
  }} />
