<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import BasicCard from '../BasicCard.svelte';
  import CardBody from '../CardBody.svelte';
</script>

<Meta
  title="Molecule/Card"
  component={BasicCard}
  argTypes={{
    imageSrc: { control: 'text' },
    header: { control: 'text' },
    footer: { control: 'text' },
  }} />

<Template let:args>
  <BasicCard {...args}>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </BasicCard>
</Template>

<Story name="list w/o image" />

<Story
  name="list w/image 200x150"
  args={{
    imageSrc: 'https://via.placeholder.com/200x150',
  }} />

<Story
  name="list with image 200x220"
  args={{
    imageSrc: 'https://via.placeholder.com/200x220',
  }} />

<!-- <Story
  name="Standard with header and footer"
  args={{
    imageSrc: 'https://via.placeholder.com/250x300',
    header: 'Bootstrap sample',
    footer: 'another footer',
  }} /> -->
