<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import BasicCard from '../BasicCard.svelte';
  import CardBody from '../CardBody.svelte';

  let repeatTimes = 3;
  let colSize = 4;
</script>

<Meta
  title="Molecule/Card"
  component={BasicCard}
  argTypes={{
    imageSrc: { control: 'text' },
    col: { control: 'number' },
    header: { control: 'text' },
    footer: { control: 'text' },
  }} />

<Template let:args>
  repeat: <input type="number" bind:value={repeatTimes} />
  col size: <input type="number" bind:value={colSize} />
  <hr />

  <div class="row">
    {#each new Array(+repeatTimes) as _, i}
      <div class="col-md-{colSize} mb-3">
        <BasicCard {...args}>
          <CardBody title="Card title">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.

            <span slot="link">
              <a href="/" class="card-link">Card link</a>
              <a href="/" class="card-link">Another link</a>
            </span>
          </CardBody>
        </BasicCard>
      </div>
    {/each}
  </div>
</Template>

<Story
  name="Standard"
  args={{
    imageSrc: 'https://via.placeholder.com/250x300',
    col: 4,
  }} />

<Story name="Standard no image" />

<Story
  name="Standard with header and footer"
  args={{
    imageSrc: 'https://via.placeholder.com/250x300',
    header: 'Bootstrap sample',
    footer: 'another footer',
    col: 4,
  }} />
