<script>
  import SvelteTable from 'svelte-table';
  export let rows = [
    /** data (example below) */
  ];
  $: columns = rows[0] ? Object.keys(rows[0]).map((k) => ({ [k]: k })) : [];
</script>

<SvelteTable {columns} {rows} />
