<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import ImagePicker from './ImagePicker.svelte';
  import GalleryThumbnail from './thumbnail/GalleryThumbnail.svelte';

  const imageURI = 'https://picsum.photos/800/600?random=';
  const colSize = 'col-6 col-lg-2 col-md-3 col-sm-4';
  const imageOne = {
    inProgress: false,
    caption: 'I believe this is a cow needing a haircut',
    progress: 70,
  };
</script>

<Meta
  title="Molecule/Input"
  component={ImagePicker}
  argTypes={{
    isLoading: { action: 'boolean' },
    // size: {
    //   control: { type: 'select', options: ['small', 'medium', 'large'] },
    // },
  }} />

<Template let:args>
  <ImagePicker {...args} on:click={args.onClick}>
    <!-- <div class="col-6 col-lg-2 col-md-3 col-sm-4"> -->
    <div class="row">
      <GalleryThumbnail
        {...imageOne}
        imageSrc={`${imageURI}1`}
        class={colSize} />
      <GalleryThumbnail
        {...imageOne}
        imageSrc={`${imageURI}2`}
        class={colSize} />
      <GalleryThumbnail
        {...imageOne}
        inProgress={true}
        imageSrc={`${imageURI}3`}
        class={colSize} />
      <GalleryThumbnail
        {...imageOne}
        inProgress={true}
        imageSrc={`${imageURI}4`}
        class={colSize} />
    </div>
    <!-- </div> -->
  </ImagePicker>
</Template>

<Story
  name="image picker"
  args={{
    isLoading: false,
  }} />
