<script lang="ts">
  import BasicCard from '../../card/basic/BasicCard.svelte';
  import CardBody from '../../card/basic/CardBody.svelte';
  import Dropzone from '$lib/ui/atom/input/dropzone/DropZone.svelte';

  export let selectNewImages;
  export let currentGallery;
  export let cancelSelection;
  export let single = false;
  export let minHeight = '200px';

  let newSlection = [];
  let ownedImages = [];
  let isLoading = false;
  let isEditing = false;

  async function init() {
    const selectedIds = currentGallery.map((selction) => selction._id);
    newSlection = ownedImages.filter((myImage) =>
      selectedIds.includes(myImage._id),
    );
    isLoading = false;
  }

  const addImage = (ev) => {
    ownedImages = [...ownedImages, ev.detail];
    if (single) {
      newSlection = [ev.detail];
    }
    newSlection = [...newSlection, ev.detail];
  };

  async function deleteImage(image) {
    newSlection = newSlection.filter(
      (selection) => selection._id !== image._id,
    );
    ownedImages = ownedImages.filter((img) => img._id !== image._id);
  }

  function toggleSelect(image) {
    if (single) {
      newSlection = [image];
      return;
    }

    const isSlected = newSlection.includes(image);
    if (isSlected) {
      newSlection = newSlection.filter(
        (selection) => selection._id !== image._id,
      );
      return;
    }
    newSlection = [...newSlection, image];
  }

  function toggleEdit() {
    isEditing = !isEditing;
  }

  function isSlected(image) {
    return (
      newSlection.filter((selection) => selection._id === image._id).length > 0
    );
  }

  function handleShortcut(event) {
    if (event.key === 'Enter') {
      selectNewImages(newSlection);
    }
  }
  // function openFileInput() {
  //   input.click();
  // }
</script>

<!-- HTML -->
<svelte:window on:keydown={handleShortcut} />
<BasicCard>
  <div slot="header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
    </ul>
  </div>

  <CardBody class="pt-0 pb-0">
    <div class="row gallery" style="--min-height: {minHeight}">
      <div class="col">
        <Dropzone
          on:add-image={addImage}
          noClick={true}
          disableDefaultStyles={true}>
          <!-- {#if isLoading}
            <div class="column">loading...</div>
          {:else}
            {#if ownedImages.length === 0}
              Drag 'n' drop some files here, or click to select files
            {/if}
            {#each ownedImages as image}
              <div class="column preview">
                {#if isEditing}
                  <span
                    class="icon has-text-danger delete-icon"
                    on:click|stopPropagation={() => deleteImage(image)}>
                    <i class="fas fa-trash-alt" />
                  </span>
                {/if}

                <img
                  src={image.url}
                  alt={image.name}
                  title={image.name}
                  on:click={() => toggleSelect(image)}
                  class:is-selected={newSlection.includes(image)} />
              </div>
            {/each}
          {/if} -->
          <slot />
        </Dropzone>
      </div>
    </div>
  </CardBody>

  <div slot="footer">
    <button class="btn btn-outline-dark" on:click={cancelSelection}>
      cancelar
    </button>
    <button class="btn btn-success" on:click={selectNewImages(newSlection)}>
      selecionar
    </button>
  </div>
</BasicCard>

<style lang="scss">
  .gallery {
    min-height: var(--min-height);
  }
</style>
