<script>
  import { Badge, Button } from 'sveltestrap/src';
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
</script>

<Meta
  title="Atom/Button"
  component={Button}
  argTypes={{
    label: { control: 'text' },
    primary: { control: 'boolean' },
    backgroundColor: { control: 'color' },
    size: {
      control: { type: 'select', options: ['small', 'medium', 'large'] },
    },
    onClick: { action: 'onClick' },
  }} />

<Template let:args>
  <Button {...args} on:click={args.onClick} color="primary">
    {args.label}
    {#if args.hasBadge}
      <Badge color="secondary">4</Badge>
    {/if}
  </Button>
</Template>

<Story
  name="Primary"
  args={{
    primary: true,
    label: 'Button',
  }} />

<Story
  name="with Badge"
  args={{
    primary: true,
    label: 'Button',
    hasBadge: true,
  }} />
