<script lang="ts">
  import CardBody from '$lib/ui/molecule/card/basic/CardBody.svelte';
  import { Row, Col, Image, Badge } from 'sveltestrap';
  export let pkg;

  $: resources = (pkg?.resources || []) as any[];
  $: tags = (pkg?.tags || []) as any[];
</script>

<Row class="g-0">
  <Col xs="3" class="pt-3">
    <Image fluid thumbnail src={pkg?.organization?.image_url} />
  </Col>

  <Col xs="9">
    <CardBody>
      <svelte:fragment slot="title">
        <a href={pkg?._id}>
          {pkg?.title}
        </a>
        <hr />
        {#each tags as tag}
          <div>
            <Badge color="primary">{tag?.name}</Badge>
          </div>
        {/each}
      </svelte:fragment>
      <div class="limit">
        {@html pkg?.notes}
      </div>

      <span slot="link">
        Recursos:<br />
        {#each resources as resource}
          <Badge href={pkg?._id} color="info" class="me-1">
            {resource?.format}
          </Badge>
        {/each}
      </span>
    </CardBody>
  </Col>
</Row>

<style>
  .limit {
    height: 5rem;
    overflow: hidden;
  }
</style>
