<script>
  import { Meta, Template, Story } from '@storybook/addon-svelte-csf';
  import HighLightCard from './HighLightCard.svelte';

  let repeatTimes = 2;
  let colSize = 6;
</script>

<Meta
  title="Molecule/Card"
  component={HighLightCard}
  argTypes={{
    keyword: { control: 'text' },
    title: { control: 'text' },
    date: { control: 'text' },
  }} />

<Template let:args>
  repeat: <input type="number" bind:value={repeatTimes} />
  col size: <input type="number" bind:value={colSize} />
  <hr />

  <div class="row">
    {#each new Array(+repeatTimes) as _, i}
      <div class="col-md-{colSize}">
        <HighLightCard {...args}>
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </HighLightCard>
      </div>
    {/each}
  </div>
</Template>

<Story
  name="HighLight"
  args={{
    keyword: 'Bootstrap sample',
    title: 'Bootstrap sample',
    date: 'Bootstrap sample',
  }} />
