<div class="container col-xl-10 col-xxl-8 px-4 py-5 pt-0">
  <div class="row align-items-center g-lg-5 py-5 pt-3">
    <div class="col-lg-7 text-center text-lg-start">
      <slot />
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <slot name="form" />
    </div>
  </div>
</div>
